<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="Server.Service" behaviorConfiguration="CustomBehavior">
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/WCF"/>
          </baseAddresses>
        </host>
        
        <endpoint address="" binding="basicHttpBinding" contract="Server.IService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="CustomBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" maxMessagesToLog="4000"/>
    </diagnostics>
    
  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" propagateActivity="true" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="D:\server_trace.svclog"  type="System.Diagnostics.XmlWriterTraceListener"  name="tracelog" traceOutputOptions="Timestamp">
            <filter type="" />
          </add>
        </listeners>
        </source>

      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"  type="System.Diagnostics.XmlWriterTraceListener"  initializeData="D:\server_messages.svclog" />
        </listeners>
      </source>

      <source name="Server.Service">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\server_service.svclog" />
        </listeners>
      </source>
      
    </sources>
  </system.diagnostics>
</configuration>