<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/WCF" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IService" contract="Learning_WCF.IService"
                name="WSHttpBinding_IService">
                <identity>
                    <userPrincipalName value="iivchenk@prod.quest.corp" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>